{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">The Game Collection Manager is a free application to manage and view your game collection.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Game Collection</h2>
        <p>
            View all the games in you collection between different users.
        </p>
        <p><a class="btn btn-default" href="http://localhost:5555/gamecollection">Check Game Collection &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About + Contact</h2>
        <p>Basically exactly what it says. Find out more about this project and how to contact us.</p>
        <p><a class="btn btn-default" href="http://localhost:5555/about">About &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:5555/contact">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Game</h2>
        <p>Want to add a game to our collection? Here is where you do it.</p>
        <p><a class="btn btn-default" href="http://localhost:5555/add">Add Game &raquo;</a></p>
    </div>
</div>

{% endblock %}
